<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contacts</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur dolor ipsum magnam. Nulla porro voluptatum at dolore, maiores necessitatibus, dolores eaque,
                 et laudantium voluptatibus id eveniet esse earum numquam.</p>
        </div>
    </div>
</div>

<!--Contacts Details-->

<div class="container">
    <div class="row align-items-center" >
        <div class="col-sm-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSppkoKsaYMuIoNLDH7O8ePOacLPG1mKXtEng&s" class="contact-img-big" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name : <span class="fw-bold">Name</span></li>
                <li class="list-group-item list-group-item-danger">Email : <span class="fw-bold">Email</span></li>
                <li class="list-group-item list-group-item-danger">Mobile : <span class="fw-bold">Mobile</span></li>
                <li class="list-group-item list-group-item-danger">Company : <span class="fw-bold">Company</span></li>
                <li class="list-group-item list-group-item-danger">Title : <span class="fw-bold">Title</span></li>
              <li class="list-group-item list-group-item-danger">Group : <span class="fw-bold">Group</span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a [routerLink]="['/']"class="btn btn-danger">
                <i class="fa fa-arrow-alt-circle-left"></i>Back         
            </a>
        </div>
    </div>
</div>
