<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contacts</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur dolor ipsum magnam. Nulla porro voluptatum at dolore, maiores necessitatibus, dolores eaque,
                 et laudantium voluptatibus id eveniet esse earum numquam.</p>
        </div>
    </div>
</div>



<!--Loading spinner-->
<div>
    <div class="text-center" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
  </div>
  
  <!--Error Message-->
  <div *ngIf="!loading && errorMessage">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h4 text-danger fw-bold mt-5">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
  
<!--Contacts Details-->

<div *ngIf="!loading && isNotEmpty()" class="container">
    <div class="row align-items-center" >
        <div class="col-sm-4">
          <img [src]="contact.photo" class="contact-img-big" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name : <span class="fw-bold">{{contact.name}}</span></li>
                <li class="list-group-item list-group-item-danger">Email : <span class="fw-bold">{{contact.email}}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile : <span class="fw-bold">{{contact.mobile}}</span></li>
                <li class="list-group-item list-group-item-danger">Company : <span class="fw-bold">{{contact.company}}</span></li>
                <li class="list-group-item list-group-item-danger">Title : <span class="fw-bold">{{contact.title}}</span></li>
              <li class="list-group-item list-group-item-danger">GroupName : <span class="fw-bold">{{group.id}}</span></li>
            </ul>
        </div>
    </div>
   
    <div class="row mt-3">
        <div class="col">
            <a [routerLink]="['/']"class="btn btn-danger">
                <i class="fa fa-arrow-alt-circle-left"></i>Back         
            </a>
        </div>
    </div>
</div>
